
@{
    ViewData["Title"] = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="portfolio">
    <div class="container">
        <div class="col-md-8 col-md-offset-2">
            <div class="heading">
                <h2>OUR <span>PRODUCTS</span></h2>
                <div class="line"></div>

            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="~/images/Gallery/g1.jpg" alt="">
                <div class="portfolio-info">
                    <a class="preview" href="~/images/Portfolio/g1.jpg" data-rel="prettyPhoto"><i class="fa fa-plus-circle"></i></a>
                    <h6>ITEM-1</h6>
                    <p>Lorem Ipsum</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="~/images/Gallery/g2.jpg" alt="">
                <div class="portfolio-info">
                    <a class="preview" href="~/images/Gallery/g2.jpg" data-rel="prettyPhoto"><i class="fa fa-plus-circle"></i></a>
                    <h6>ITEM-1</h6>
                    <p>Lorem Ipsum</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="~/images/Gallery/g3.jpg" alt="">
                <div class="portfolio-info">
                    <a class="preview" href="~/images/Gallery/g3.jpg" data-rel="prettyPhoto"><i class="fa fa-plus-circle"></i></a>
                    <h6>ITEM-1</h6>
                    <p>Lorem Ipsum</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="~/images/Gallery/g4.jpg" alt="">
                <div class="portfolio-info">
                    <a class="preview" href="~/images/Gallery/g4.jpg" data-rel="prettyPhoto"><i class="fa fa-plus-circle"></i></a>
                    <h6>ITEM-1</h6>
                    <p>Lorem Ipsum</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="~/images/Gallery/g5.jpg" alt="">
                <div class="portfolio-info">
                    <a class="preview" href="~/images/Gallery/g5.jpg" data-rel="prettyPhoto"><i class="fa fa-plus-circle"></i></a>
                    <h6>ITEM-1</h6>
                    <p>Lorem Ipsum</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="~/images/Gallery/g6.jpg" alt="">
                <div class="portfolio-info">
                    <a class="preview" href="~/images/Gallery/g6.jpg" data-rel="prettyPhoto"><i class="fa fa-plus-circle"></i></a>
                    <h6>ITEM-1</h6>
                    <p>Lorem Ipsum</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-8 col-md-offset-2">
            <div class="heading">
                <h2>OUR <span>PRODUCTS</span></h2>
                <div class="line"></div>

            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="~/images/Gallery/g1.jpg" alt="">
                <div class="portfolio-info">
                    <a class="preview" href="~/images/Portfolio/g1.jpg" data-rel="prettyPhoto"><i class="fa fa-plus-circle"></i></a>
                    <h6>ITEM-1</h6>
                    <p>Lorem Ipsum</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="~/images/Gallery/g2.jpg" alt="">
                <div class="portfolio-info">
                    <a class="preview" href="~/images/Gallery/g2.jpg" data-rel="prettyPhoto"><i class="fa fa-plus-circle"></i></a>
                    <h6>ITEM-1</h6>
                    <p>Lorem Ipsum</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="~/images/Gallery/g3.jpg" alt="">
                <div class="portfolio-info">
                    <a class="preview" href="~/images/Gallery/g3.jpg" data-rel="prettyPhoto"><i class="fa fa-plus-circle"></i></a>
                    <h6>ITEM-1</h6>
                    <p>Lorem Ipsum</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="~/images/Gallery/g4.jpg" alt="">
                <div class="portfolio-info">
                    <a class="preview" href="~/images/Gallery/g4.jpg" data-rel="prettyPhoto"><i class="fa fa-plus-circle"></i></a>
                    <h6>ITEM-1</h6>
                    <p>Lorem Ipsum</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="~/images/Gallery/g5.jpg" alt="">
                <div class="portfolio-info">
                    <a class="preview" href="~/images/Gallery/g5.jpg" data-rel="prettyPhoto"><i class="fa fa-plus-circle"></i></a>
                    <h6>ITEM-1</h6>
                    <p>Lorem Ipsum</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="~/images/Gallery/g6.jpg" alt="">
                <div class="portfolio-info">
                    <a class="preview" href="~/images/Gallery/g6.jpg" data-rel="prettyPhoto"><i class="fa fa-plus-circle"></i></a>
                    <h6>ITEM-1</h6>
                    <p>Lorem Ipsum</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-8 col-md-offset-2">
            <div class="heading">
                <h2>OUR <span>PRODUCTS</span></h2>
                <div class="line"></div>

            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="~/images/Gallery/g1.jpg" alt="">
                <div class="portfolio-info">
                    <a class="preview" href="~/images/Portfolio/g1.jpg" data-rel="prettyPhoto"><i class="fa fa-plus-circle"></i></a>
                    <h6>ITEM-1</h6>
                    <p>Lorem Ipsum</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="~/images/Gallery/g2.jpg" alt="">
                <div class="portfolio-info">
                    <a class="preview" href="~/images/Gallery/g2.jpg" data-rel="prettyPhoto"><i class="fa fa-plus-circle"></i></a>
                    <h6>ITEM-1</h6>
                    <p>Lorem Ipsum</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="~/images/Gallery/g3.jpg" alt="">
                <div class="portfolio-info">
                    <a class="preview" href="~/images/Gallery/g3.jpg" data-rel="prettyPhoto"><i class="fa fa-plus-circle"></i></a>
                    <h6>ITEM-1</h6>
                    <p>Lorem Ipsum</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="~/images/Gallery/g4.jpg" alt="">
                <div class="portfolio-info">
                    <a class="preview" href="~/images/Gallery/g4.jpg" data-rel="prettyPhoto"><i class="fa fa-plus-circle"></i></a>
                    <h6>ITEM-1</h6>
                    <p>Lorem Ipsum</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="~/images/Gallery/g5.jpg" alt="">
                <div class="portfolio-info">
                    <a class="preview" href="~/images/Gallery/g5.jpg" data-rel="prettyPhoto"><i class="fa fa-plus-circle"></i></a>
                    <h6>ITEM-1</h6>
                    <p>Lorem Ipsum</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="~/images/Gallery/g6.jpg" alt="">
                <div class="portfolio-info">
                    <a class="preview" href="~/images/Gallery/g6.jpg" data-rel="prettyPhoto"><i class="fa fa-plus-circle"></i></a>
                    <h6>ITEM-1</h6>
                    <p>Lorem Ipsum</p>
                </div>
            </div>
        </div>
    </div>
</section>