
@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<section id="portfolio">
    <div class="container">
        <div class="col-md-8 col-md-offset-2">
            <div class="heading">
                <h2>OUR <span>PRODUCTS</span></h2>
                <div class="line"></div>

            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="~/images/Portfolio/p1.jpg" alt="">
                <div class="portfolio-info">
                    <a class="preview" href="~/images/Portfolio/p1.jpg" data-rel="prettyPhoto"><i class="fa fa-plus-circle"></i></a>
                    <h6>ITEM-1</h6>
                    <p>Lorem Ipsum</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="~/images/Portfolio/p2.jpg" alt="">
                <div class="portfolio-info">
                    <a class="preview" href="~/images/Portfolio/p2.jpg" data-rel="prettyPhoto"><i class="fa fa-plus-circle"></i></a>
                    <h6>ITEM-1</h6>
                    <p>Lorem Ipsum</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="~/images/Portfolio/p3.jpg" alt="">
                <div class="portfolio-info">
                    <a class="preview" href="~/images/Portfolio/p3.jpg" data-rel="prettyPhoto"><i class="fa fa-plus-circle"></i></a>
                    <h6>ITEM-1</h6>
                    <p>Lorem Ipsum</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="~/images/Portfolio/p4.jpg" alt="">
                <div class="portfolio-info">
                    <a class="preview" href="~/images/Portfolio/p4.jpg" data-rel="prettyPhoto"><i class="fa fa-plus-circle"></i></a>
                    <h6>ITEM-1</h6>
                    <p>Lorem Ipsum</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="~/images/Portfolio/p5.jpg" alt="">
                <div class="portfolio-info">
                    <a class="preview" href="~/images/Portfolio/p5.jpg" data-rel="prettyPhoto"><i class="fa fa-plus-circle"></i></a>
                    <h6>ITEM-1</h6>
                    <p>Lorem Ipsum</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="~/images/Portfolio/p6.jpg" alt="">
                <div class="portfolio-info">
                    <a class="preview" href="~/images/Portfolio/p6.jpg" data-rel="prettyPhoto"><i class="fa fa-plus-circle"></i></a>
                    <h6>ITEM-1</h6>
                    <p>Lorem Ipsum</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="~/images/Portfolio/p7.jpg" alt="">
                <div class="portfolio-info">
                    <a class="preview" href="~/images/Portfolio/p7.jpg" data-rel="prettyPhoto"><i class="fa fa-plus-circle"></i></a>
                    <h6>ITEM-1</h6>
                    <p>Lorem Ipsum</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="~/images/Portfolio/p8.jpg" alt="">
                <div class="portfolio-info">
                    <a class="preview" href="~/images/Portfolio/p8.jpg" data-rel="prettyPhoto"><i class="fa fa-plus-circle"></i></a>
                    <h6>ITEM-1</h6>
                    <p>Lorem Ipsum</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="~/images/Portfolio/p9.jpg" alt="">
                <div class="portfolio-info">
                    <a class="preview" href="~/images/Portfolio/p9.jpg" data-rel="prettyPhoto"><i class="fa fa-plus-circle"></i></a>
                    <h6>ITEM-1</h6>
                    <p>Lorem Ipsum</p>
                </div>
            </div>
        </div>

        <!--/.portfolio-item-->
        <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="~/images/Portfolio/fm1.jpg" alt="">
                <div class="portfolio-info">
                    <a class="preview" href="~/images/Portfolio/fm1.jpg" data-rel="prettyPhoto"><i class="fa fa-plus-circle"></i></a>
                    <h6>ITEM-2</h6>
                    <p>Lorem Ipsum</p>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="~/images/Portfolio/m2.jpg" alt="">
                <div class="portfolio-info">
                    <a class="preview" href="~/images/Portfolio/m2.jpg" data-rel="prettyPhoto"><i class="fa fa-plus-circle"></i></a>
                    <h6>ITEM-3</h6>
                    <p>Lorem Ipsum</p>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="~/images/Portfolio/fm2.jpg" alt="">
                <div class="portfolio-info">
                    <a class="preview" href="~/images/Portfolio/fm2.jpg" data-rel="prettyPhoto"><i class="fa fa-plus-circle"></i></a>
                    <h6>ITEM-4</h6>
                    <p>Lorem Ipsum</p>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="~/images/Portfolio/m3.jpg" alt="">
                <div class="portfolio-info">
                    <a class="preview" href="~/images/Portfolio/m3.jpg" data-rel="prettyPhoto"><i class="fa fa-plus-circle"></i></a>
                    <h6>ITEM-5</h6>
                    <p>Lorem Ipsum</p>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->
        <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="~/images/Portfolio/fm3.jpg" alt="">
                <div class="portfolio-info">
                    <a class="preview" href="~/images/Portfolio/fm3.jpg" data-rel="prettyPhoto"><i class="fa fa-plus-circle"></i></a>
                    <h6>ITEM-6</h6>
                    <p>Lorem Ipsum</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item">
            <div class="portfolio-item-inner">
                <img class="img-responsive" src="~/images/Portfolio/p2.jpg" alt="">
                <div class="portfolio-info">
                    <a class="preview" href="~/images/Portfolio/p2.jpg" data-rel="prettyPhoto"><i class="fa fa-plus-circle"></i></a>
                    <h6>ITEM-1</h6>
                    <p>Lorem Ipsum</p>
                </div>
            </div>
        </div>
        <!--/.portfolio-item-->

    </div>

      

</section>